<section>
  <h2>Le site de réservation d'événements</h2>
  <p>
    Réservez et mettez à disposition des événements en quelques clics. Simple et efficace, <strong>Reservatech</strong>
    vous permet d'organiser des rencontres autour de nombreux sujets avec des personnes réellement intéressées.
  </p>
</section>
<section class="row">
  <section class="col-sm">
    <app-login-form *ngIf="!isConnected()"></app-login-form>
  </section>
  <section class="col-sm">
    <app-register-form *ngIf="!isConnected()"></app-register-form>
  </section>
</section>
