<div class="alert" *ngIf="this.status" [class.alert-danger]="!status.success" [class.alert-success]="status.success">
  {{status.msg}}
</div>

<form #updateForm="ngForm">
  <h2 *ngIf="!editing">{{this.event.name}}</h2>
  <div *ngIf="editing">
    <input
      name="name"
      class="form-control"
      type="text"
      [(ngModel)]="model.name"
      maxlength="30"
      appRegex="^[a-zA-Z\u00C0-\u017F\- ]*$"
      required
      #name="ngModel"
    >
    <small class="form-text text-danger" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
      Requis.
    </small>
    <small class="form-text text-danger" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.maxlength">
      Le nom ne peut pas dépasser 30 caractères.
    </small>
    <small class="form-text text-danger" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.regex">
      Les caractères spéciaux ne sont pas autorisés.
    </small>
  </div>

  <button *ngIf="canEdit() && !editing" class="btn btn-link" (click)="switchEdit()">Editer</button>
  <button *ngIf="canEdit() && !editing" class="btn btn-link text-danger" (click)="deleteEvent()">Supprimer</button>
  <button *ngIf="editing" class="btn btn-link" (click)="switchEdit()">Annuler</button>
  <button *ngIf="editing"
          class="btn btn-link"
          type="submit"
          (click)="save()"
          [disabled]="!updateForm.valid || submitting"
  >
    Sauvegarder
  </button>
  <hr>

  <small>Description :</small>
  <p *ngIf="!editing">{{this.event.description}}</p>
  <div *ngIf="editing">
    <textarea class="form-control"
              name="description"
              [(ngModel)]="model.description"
              required
              minlength="30"
              maxlength="800"
              #description="ngModel"
    ></textarea>
    <small class="form-text text-danger"
           *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.required">
      Requis.
    </small>
    <small class="form-text text-danger"
           *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.minlength">
      La description doit faire au moins 30 caractères.
    </small>
    <small class="form-text text-danger"
           *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.maxlength">
      La description ne peux pas dépasser 800 caractères.
    </small>
  </div>
</form>

<hr>

<section>
  <p>
    Débute : {{calendar(this.event.beginning)}}<br>
    Termine : {{calendar(this.event.end)}}
  </p>
  <h4>Inscription</h4>
  <p>{{this.event.maxParticipants}} places, {{this.event.maxParticipants - this.participants.length}} restantes</p>
  <button class="btn btn-primary"
          [hidden]="!this.connected() || this.participating()"
          (click)="this.participate()"
          [disabled]="this.submitting"
  >Réserver</button>
  <button class="btn btn-primary"
          [hidden]="!this.connected() || !this.participating()"
          (click)="this.stopParticipating()"
          [disabled]="this.submitting"
  >
    Abandonner ma réservation
  </button>
</section>
<hr>
<section *ngIf="this.canEdit()">
  <h4>Participants</h4>
  <small *ngIf="this.participatingUsers.length === 0">Pas de participants</small>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let p of this.participatingUsers">{{p.firstName}} {{p.lastName}}</li>
  </ul>
</section>
