<div class="alert" *ngIf="this.status" [class.alert-danger]="!status.success" [class.alert-success]="status.success">
  {{status.msg}}
</div>

<form #updateForm="ngForm">
  <h2 *ngIf="!editing">{{this.event.name}}</h2>
  <input *ngIf="editing" name="name" class="form-control" type="text" [(ngModel)]="model.name" maxlength="30" required>

  <button *ngIf="canEdit() && !editing" class="btn btn-link" (click)="switchEdit()">Editer</button>
  <button *ngIf="canEdit() && !editing" class="btn btn-link text-danger" (click)="deleteEvent()">Supprimer</button>
  <button *ngIf="editing" class="btn btn-link" (click)="switchEdit()">Annuler</button>
  <button *ngIf="editing"
          class="btn btn-link"
          type="submit"
          (click)="save()"
          [disabled]="!updateForm.valid || submitting"
  >
    Sauvegarder
  </button>
  <hr>

  <small>Description :</small>
  <p *ngIf="!editing">{{this.event.description}}</p>
  <textarea *ngIf="editing" class="form-control" name="description"
            [(ngModel)]="model.description" required minlength="30" maxlength="800"></textarea>
</form>

<hr>

<section>
  <h4>Inscription</h4>
  <p>{{this.event.maxParticipants}} places, {{this.event.maxParticipants - this.participants.length}} restantes</p>
  <button class="btn btn-primary"
          [hidden]="!this.connected() || this.participating()"
          (click)="this.participate()"
          [disabled]="this.submitting"
  >Réserver</button>
  <button class="btn btn-primary"
          [hidden]="!this.connected() || !this.participating()"
          (click)="this.stopParticipating()"
          [disabled]="this.submitting"
  >
    Abandonner ma réservation
  </button>
</section>
