<div class="alert" *ngIf="this.status" [class.alert-danger]="!status.success" [class.alert-success]="status.success">
  {{status.msg}}
</div>

<form #updateForm="ngForm">
  <h2 *ngIf="!editing">{{this.organization.name}}</h2>
  <input *ngIf="editing" name="name" class="form-control" type="text" [(ngModel)]="model.name" required>

  <button *ngIf="isMember() && !editing" class="btn btn-link" (click)="switchEdit()">Editer</button>
  <button *ngIf="isMember() && !editing" class="btn btn-link text-danger" (click)="deleteOrg()">Supprimer</button>
  <button *ngIf="editing" class="btn btn-link" (click)="switchEdit()">Annuler</button>
  <button *ngIf="editing"
          class="btn btn-link"
          type="submit"
          (click)="save()"
          [disabled]="!updateForm.valid || submitting"
  >
    Sauvegarder
  </button>
  <hr>

  <h4>Description :</h4>
  <p *ngIf="!editing">{{organization.description}}</p>
  <textarea *ngIf="editing" class="form-control" name="description"
            [(ngModel)]="model.description" required minlength="20" maxlength="300"></textarea>
</form>

<section>
  <h4>Membres</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let m of members">
      {{m.firstName}} {{m.lastName}}
      <button class="badge badge-danger badge-pill" *ngIf="isMember()" (click)="removedMember(m.id)"
              [disabled]="submitting"
      >
        X
      </button>
    </li>
  </ul>
  <form #memberForm="ngForm" *ngIf="isMember()" class="form-inline" style="margin-bottom: 10px; margin-top: 10px">
    <div class="form-group">
      <input type="email" email class="form-control mx-sm-3 form-control-sm" id="newMemberEmailField"
             placeholder="Email" [(ngModel)]="newMemberEmail" name="memberEmail" required>
      <button class="btn btn-primary btn-sm" [disabled]="!memberForm.valid || submitting" (click)="addMember()">
        Ajouter
      </button>
    </div>
  </form>
</section>

<section class="list-group list-group-flush">
  <h4>Événements</h4>
  <small><a routerLink="/events/new">Créer un événement</a></small>
  <a class="list-group-item list-group-item-action" [routerLink]="'/events/' + e.id" *ngFor="let e of this.events">
    <div class="d-flex w-100 justify-content-between">
      <h5>{{e.name}}</h5>
      <small>{{e.beginningDisplay}}</small>
    </div>
    <p class="mb-1">{{e.description}}</p>
  </a>
</section>
