<div class="alert alert-danger" *ngIf="this.errorMessage">
  {{this.errorMessage}}
</div>

<h2>Créer un événement</h2>
<form #eventForm="ngForm">
  <div class="form-group">
    <label for="organizationField">Organisation</label>
    <select class="form-control" id="organizationField" name="organization" [(ngModel)]="model.organizationId" required>
      <option *ngFor="let o of organizations" value="{{o.id}}">{{o.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="eventNameField">Nom de l'événement</label>
    <input type="text" id="eventNameField" name="name" class="form-control" [(ngModel)]="model.name" required>
  </div>
  <div class="form-group">
    <label for="eventDescriptionField">Description</label>
    <textarea id="eventDescriptionField" name="description" class="form-control"
              [(ngModel)]="model.description"></textarea>
  </div>
  <div class="form-group">
    <label for="maxParticipantsField">Nombre de places</label>
    <input type="number" id="maxParticipantsField" name="maxParticipants" class="form-control" min="1"
           [(ngModel)]="model.maxParticipants" required>
  </div>
  <div class="form-group">
    <label for="beginningField">Début de l'événement</label>
    <input type="datetime-local" id="beginningField" name="maxParticipants" class="form-control"
           placeholder="aaaa-mm-ddThh:mm" [(ngModel)]="model.beginning" required>
  </div>
  <div class="form-group">
    <label for="endField">Fin de l'événement</label>
    <input type="datetime-local" id="endField" name="maxParticipants" class="form-control"
           placeholder="aaaa-mm-ddThh:mm" [(ngModel)]="model.end" required>
  </div>

  <button class="btn btn-primary" [disabled]="!eventForm.valid || this.submitting || !areDateFilled()" (click)="this.createEvent()">
    Créer l'événement
  </button>
</form>
